@import "../variables.scss";

.bio-container {
  color: $primary-white;
  font-family: "Sunflower";
  z-index: 1;
  position: relative;

  display: block;
  height: auto;
  overflow: auto;
  margin-top: calc(50px + 10vw);
  margin-bottom: 10px;
}
.bio-container img {
  width: 50vw;
  height: 25vw;
}

.bio-container h2 {
  // padding: 20px 20px;
  font-size: calc(5px + 3vw);
}

.bio-container p {
  font-size: calc(5px + 1vw);
  padding: 12px 50px 12px 55vw;
  text-align: left;
  margin: 0;
}

@media (max-width: 500px) {
  .bio-container img {
    display: none;
  }

  .bio-container {
    height: auto;
  }

  .bio-container p {
    padding: 12px 50px 12px 50px;
  }
}
