@import "../variables.scss";

.bio-container {
  color: $primary-white;
  font-family: "Sunflower";
  z-index: 1;
  position: relative;
  height: auto;
  overflow: auto;
  margin-top: 5vh;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.bio-container img {
  width: 50vw;
  height: 30vw;
  margin-left: 3vw;
  margin-bottom: 2vh;
  object-fit: contain;
  // clip-path: ellipse(200px 240px at 170px 200px);
}

.bio-container h2 {
  font-size: calc(5px + 3vw);
  text-align: left;
  margin-bottom: 20px;
  //margin-top: 0px;
  // padding: 20px 20px;
}

.bio-container p {
  font-size: calc(5px + 1vw);
  text-align: left;
}

.bio-container .row {
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 800px) {
  .bio-container {
    flex-direction: column;

    .row {
      flex-direction: column;
    }
  }

  .bio-container p {
    padding: 12px 50px 12px 50px;
  }
}
