@import "../variables.scss";

.contact-page {
  // background-color: $primary-black;
  color: $primary-white;
  font-family: "Sunflower";
  overflow: auto;

  h1 {
    margin: 0;
    padding-top: 30px;
  }
}
