@import "../variables.scss";

.ep-container {
  color: $primary-white;
  // background-color: $primary-black;
  font-family: "Sunflower";
  z-index: 1;
  position: relative;

  display: block;
  height: auto;
  overflow: auto;
  margin-top: 180px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: calc(0px + 2vw);

  img {
    max-height: 100%;
    width: 40vw;
    height: 40vw;
    margin-left: 30px;
    //object-fit: contain;
    //clip-path: ellipse(200px 240px at 170px 200px);
    //margin-right: 30px;
  }

  h2 {
    font-size: calc(5px + 3vw);
    text-align: left;
    margin-bottom: 20px;
    //margin-top: 0px;
    // padding: 20px 20px;
  }

  p {
    font-size: calc(5px + 1vw);
    text-align: left;
    //padding: 12px 50px 12px 50px;
    //margin: 0;
    //margin-left: 100px;
  }

  @media (max-width: 500px) {
    img {
      display: none;
    }

    .ep-container {
      height: auto;
    }
  }
}
